<a href="https://colab.research.google.com/github/Aderson87/PROGCOM-A/blob/main/Clase_2_Estructura_de_repetici%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Estructura de repaticion

permite repetir una o mas accciones de acuerdo  con una conndicion (mientras se cumplen las condiciones)

##estructura para - for

1. cuandose sabe cuantas veses se repite una accion.
2. Esta confirmado por una condicion inicial (CI) una condicion final (CF) y paso (frecuencia de repeticion).
3. Esta estructura no se determina, hasta alcansar cf-1

Estructura general del for
```
for (variable) in range (CI, CF+1, paso):
se repite (CI, CF+1, paso)
```
Estructura resumida de for


```
for (variable) in range (cantidad):
 se repite cantidad de veces una accion
 ```

Estructura  for como integracion

```
1. para (for) itera tanata veses, como elenmentos tenga la lista
2. la variable toma el valor de cada elemento de la iteracion
```

```
lista=[1,2,3,4,5]
for (variable) in lista:
 se repite len(lista)
```

In [2]:
#Hacer la tabla de multiplicacion
n=int(input("Digita un numero: "))

Digita un numero: 5

In [3]:
print(f"Tabla del {n}")
for holitas in range(1,11,1):
  print(f"{n} x {holitas} = {n*holitas}")

Tabla del 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [10]:
print("Tablas del 1 al 10")
print("")
for tabla in range(1,11):
  print(f"Tabla del {tabla}")
  for numero in range(1,11):
    print(f"{tabla} x {numero} = {tabla*numero}")
  print("")

Tablas del 1 al 10

Tabla del 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Tabla del 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Tabla del 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Tabla del 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Tabla del 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Tabla del 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Tabla del 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Tabla del 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Tabla del 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Tabla del 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [20]:
print(f"Tabla del {n}")
for holitas in range(10):
  print(f"{n} x {holitas+1} = {n*(holitas+1)}")

Tabla del 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [29]:
print(f"Tabla del {n}")
for holitas in range(n,11*n,n):
  print(f"{n} x {int(holitas/n)} = {n*int(holitas/n)}")

Tabla del 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [31]:
numeros=[1,2,3,4,5,6,7,8,9,10]
for num in numeros:
  print(f"{n} x {num} = {n*num}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [32]:
numeros2=list(range(1,11))
numeros2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
for num in numeros2:
  print(f"{n} x {num} = {n*num}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70